{% extends 'base.html' %}

{% block body %}
    <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid column-->
            <div class="col-lg-6 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="p-4">

                        <div class="mb-3">
                            <span class="badge purple mr-1">credit card</span>
                            <span class="badge blue mr-1">2017-09-13 08:59:02</span>
                            <span class="badge red mr-1">delivered</span>
                        </div>

                        <p class="lead">
                            <strong>Price: $200</strong>
                            <span>Freight: $100</span>
                        </p>

                        <p class="lead font-weight-bold">Consoles Games</p>

                        <form class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                sao paulo
                            </button>

                            <button class="btn btn-pink btn-md my-0 p waves-effect waves-light" type="button">
                                <i class="fa fa-truck ml-1"></i>
                            </button>

                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                nova venecia
                            </button>

                        </form>

                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="p-4">

                        <div class="mb-3">
                            <span class="badge purple mr-1">credit card</span>
                            <span class="badge blue mr-1">2017-09-13 08:59:02</span>
                            <span class="badge red mr-1">delivered</span>
                        </div>

                        <p class="lead">
                            <strong>Price: $200</strong>
                            <span>Freight: $100</span>
                        </p>

                        <p class="lead font-weight-bold">Consoles Games</p>

                        <form class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                sao paulo
                            </button>

                            <button class="btn btn-pink btn-md my-0 p waves-effect waves-light" type="button">
                                <i class="fa fa-truck ml-1"></i>
                            </button>

                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                nova venecia
                            </button>

                        </form>

                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid column-->
            <div class="col-lg-6 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="p-4">

                        <div class="mb-3">
                            <span class="badge purple mr-1">credit card</span>
                            <span class="badge blue mr-1">2017-09-13 08:59:02</span>
                            <span class="badge red mr-1">delivered</span>
                        </div>

                        <p class="lead">
                            <strong>Price: $200</strong>
                            <span>Freight: $100</span>
                        </p>

                        <p class="lead font-weight-bold">Consoles Games</p>

                        <form class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                sao paulo
                            </button>

                            <button class="btn btn-pink btn-md my-0 p waves-effect waves-light" type="button">
                                <i class="fa fa-truck ml-1"></i>
                            </button>

                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                nova venecia
                            </button>

                        </form>

                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="p-4">

                        <div class="mb-3">
                            <span class="badge purple mr-1">credit card</span>
                            <span class="badge blue mr-1">2017-09-13 08:59:02</span>
                            <span class="badge red mr-1">delivered</span>
                        </div>

                        <p class="lead">
                            <strong>Price: $200</strong>
                            <span>Freight: $100</span>
                        </p>

                        <p class="lead font-weight-bold">Consoles Games</p>

                        <form class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                sao paulo
                            </button>

                            <button class="btn btn-pink btn-md my-0 p waves-effect waves-light" type="button">
                                <i class="fa fa-truck ml-1"></i>
                            </button>

                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                nova venecia
                            </button>

                        </form>

                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid column-->
            <div class="col-lg-6 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="p-4">

                        <div class="mb-3">
                            <span class="badge purple mr-1">credit card</span>
                            <span class="badge blue mr-1">2017-09-13 08:59:02</span>
                            <span class="badge red mr-1">delivered</span>
                        </div>

                        <p class="lead">
                            <strong>Price: $200</strong>
                            <span>Freight: $100</span>
                        </p>

                        <p class="lead font-weight-bold">Consoles Games</p>

                        <form class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                sao paulo
                            </button>

                            <button class="btn btn-pink btn-md my-0 p waves-effect waves-light" type="button">
                                <i class="fa fa-truck ml-1"></i>
                            </button>

                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                nova venecia
                            </button>

                        </form>

                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="p-4">

                        <div class="mb-3">
                            <span class="badge purple mr-1">credit card</span>
                            <span class="badge blue mr-1">2017-09-13 08:59:02</span>
                            <span class="badge red mr-1">delivered</span>
                        </div>

                        <p class="lead">
                            <strong>Price: $200</strong>
                            <span>Freight: $100</span>
                        </p>

                        <p class="lead font-weight-bold">Consoles Games</p>

                        <form class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                sao paulo
                            </button>

                            <button class="btn btn-pink btn-md my-0 p waves-effect waves-light" type="button">
                                <i class="fa fa-truck ml-1"></i>
                            </button>

                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                nova venecia
                            </button>

                        </form>

                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid column-->
            <div class="col-lg-6 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="p-4">

                        <div class="mb-3">
                            <span class="badge purple mr-1">credit card</span>
                            <span class="badge blue mr-1">2017-09-13 08:59:02</span>
                            <span class="badge red mr-1">delivered</span>
                        </div>

                        <p class="lead">
                            <strong>Price: $200</strong>
                            <span>Freight: $100</span>
                        </p>

                        <p class="lead font-weight-bold">Consoles Games</p>

                        <form class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                sao paulo
                            </button>

                            <button class="btn btn-pink btn-md my-0 p waves-effect waves-light" type="button">
                                <i class="fa fa-truck ml-1"></i>
                            </button>

                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                nova venecia
                            </button>

                        </form>

                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="p-4">

                        <div class="mb-3">
                            <span class="badge purple mr-1">credit card</span>
                            <span class="badge blue mr-1">2017-09-13 08:59:02</span>
                            <span class="badge red mr-1">delivered</span>
                        </div>

                        <p class="lead">
                            <strong>Price: $200</strong>
                            <span>Freight: $100</span>
                        </p>

                        <p class="lead font-weight-bold">Consoles Games</p>

                        <form class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                sao paulo
                            </button>

                            <button class="btn btn-pink btn-md my-0 p waves-effect waves-light" type="button">
                                <i class="fa fa-truck ml-1"></i>
                            </button>

                            <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="button">
                                nova venecia
                            </button>

                        </form>

                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
    </section>
{% endblock %}
<!-- Optional JavaScript -->