{% extends 'base.html' %}

{% block body %}
    <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid column-->
            <div class="col-lg-4 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title & Message-->
                        <h5 class="dark-grey-text">
                            <strong>
                                Entrega rápida!
                            </strong>
                        </h5>
                        <h5 class="grey-text">A entrega foi super rápida e o pendente é lindo! Igual a foto mesmo! </h5>
                        <span class="dark-grey-text badge badge-pill danger-color">5</span>

                        <h4 class="font-weight-bold blue-text">
                            <strong>2018-04-25</strong>
                        </h4>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title & Message-->
                        <h5 class="dark-grey-text">
                            <strong>
                                Jogo de palavras cruzadas
                            </strong>
                        </h5>
                        <h5 class="grey-text">O produto chegou em bom estado. Estou satisfeita. </h5>
                        <span class="dark-grey-text badge badge-pill danger-color">5</span>

                        <h4 class="font-weight-bold blue-text">
                            <strong>2018-06-22</strong>
                        </h4>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title & Message-->
                        <h5 class="dark-grey-text">
                            <strong>
                                O produto com defeito
                            </strong>
                        </h5>
                        <h5 class="grey-text">Fiz a instalação como dizia no manual, porém o aparelho não
                            funcionou.</h5>
                        <span class="dark-grey-text badge badge-pill warning-color">1</span>

                        <h4 class="font-weight-bold blue-text">
                            <strong>2018-08-29</strong>
                        </h4>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid column-->
            <div class="col-lg-4 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title & Message-->
                        <h5 class="dark-grey-text">
                            <strong>
                                Produto divergente
                            </strong>
                        </h5>
                        <h5 class="grey-text">Recebi um produto divergente, como efeito a troca?</h5>
                        <span class="dark-grey-text badge badge-pill warning-color">1</span>

                        <h4 class="font-weight-bold blue-text">
                            <strong>2018-07-28</strong>
                        </h4>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title & Message-->
                        <h5 class="dark-grey-text">
                            <strong>
                                Excelente!!
                            </strong>
                        </h5>
                        <h5 class="grey-text">Produto chegou antes do prazo e era exatamente o que eu estava
                            procurando</h5>
                        <span class="dark-grey-text badge badge-pill danger-color">5</span>

                        <h4 class="font-weight-bold blue-text">
                            <strong>2018-08-15</strong>
                        </h4>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title & Message-->
                        <h5 class="dark-grey-text">
                            <strong>
                                Pensei ser maior
                            </strong>
                        </h5>
                        <h5 class="grey-text">Achei que os potes eram maiores mais valeu valor dele legal 👍🏼 </h5>
                        <span class="dark-grey-text badge badge-pill success-color">3</span>

                        <h4 class="font-weight-bold blue-text">
                            <strong>2018-04-27</strong>
                        </h4>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid column-->
            <div class="col-lg-4 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title & Message-->
                        <h5 class="dark-grey-text">
                            <strong>
                                Decepcionou um pouco
                            </strong>
                        </h5>
                        <h5 class="grey-text">Se eu não fosse tão fanático pediria meu dinheiro de volta..Cores fracas e
                            apagadas..a imagem ficou boa..mas as cores são fracas e apagadas...</h5>
                        <span class="dark-grey-text badge badge-pill info-color">2</span>

                        <h4 class="font-weight-bold blue-text">
                            <strong>2018-08-04</strong>
                        </h4>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title & Message-->
                        <h5 class="dark-grey-text">
                            <strong>
                                Falta de produto
                            </strong>
                        </h5>
                        <h5 class="grey-text">Comprei duas cortinas porém só veio uma cortina na nota consta duas
                            gostaria de saber o que vai ser feito porque isso é falta de respeito com o consumidor que
                            compra e quer recebe aguardo retorno</h5>
                        <span class="dark-grey-text badge badge-pill warning-color">1</span>

                        <h4 class="font-weight-bold blue-text">
                            <strong>2018-06-14</strong>
                        </h4>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title & Message-->
                        <h5 class="dark-grey-text">
                            <strong>
                                Prazo não cumprido
                            </strong>
                        </h5>
                        <h5 class="grey-text">Houve atraso de 6 dias em relação ao informado e não houve atualização da
                            data.</h5>
                        <span class="dark-grey-text badge badge-pill success-color">3</span>

                        <h4 class="font-weight-bold blue-text">
                            <strong>2018-08-23</strong>
                        </h4>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
{% endblock %}
<!-- Optional JavaScript -->