{% extends 'base.html' %}

{% block body %}
    <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid column-->
            <div class="col-lg-4 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title & Message-->
                        <h5 class="dark-grey-text">
                            <strong>
                                Entrega rápida!
                            </strong>
                        </h5>
                        <h5 class="grey-text">A entrega foi super rápida e o pendente é lindo! Igual a foto mesmo! </h5>
                        <span class="dark-grey-text badge badge-pill danger-color">5</span>

                        <h4 class="font-weight-bold blue-text">
                            <strong>2018-04-25</strong>
                        </h4>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title & Message-->
                        <h5 class="dark-grey-text">
                            <strong>
                                Jogo de palavras cruzadas
                            </strong>
                        </h5>
                        <h5 class="grey-text">O produto chegou em bom estado. Estou satisfeita. </h5>
                        <span class="dark-grey-text badge badge-pill danger-color">5</span>

                        <h4 class="font-weight-bold blue-text">
                            <strong>2018-06-22</strong>
                        </h4>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-4 mb-2">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title & Message-->
                        <h5 class="dark-grey-text">
                            <strong>
                                O produto com defeito
                            </strong>
                        </h5>
                        <h5 class="grey-text">Fiz a instalação como dizia no manual, porém o aparelho não
                            funcionou.</h5>
                        <span class="dark-grey-text badge badge-pill warning-color">1</span>

                        <h4 class="font-weight-bold blue-text">
                            <strong>2018-08-29</strong>
                        </h4>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
{% endblock %}
<!-- Optional JavaScript -->